mixin picture(src, webp, lazy, classes, width, height, srcset, srcset_webp, sizes)
	if webp !== ''
		picture
			if srcset !== ''
				if lazy === true
					source(type="image/webp" srcset="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPjwvc3ZnPg==" data-srcset=srcset_webp data-sizes=sizes)
					img(width=width height=height src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPjwvc3ZnPg==" data-src=src alt="" loading="lazy" srcset data-srcset=srcset data-sizes=sizes class="lazy "+classes)
				else
					source(type="image/webp" srcset=srcset_webp data-sizes=sizes)
					img(width=width height=height src=src alt="" srcset=srcset sizes=sizes class=classes)
			else
				if lazy === true
					source(type="image/webp" srcset="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPjwvc3ZnPg==" data-srcset=webp + ".webp")
					img(width=width height=height src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPjwvc3ZnPg==" data-src=src alt="" loading="lazy" class="lazy "+classes)
				else
					source(type="image/webp" srcset=webp + ".webp")
					img(width=width height=height src=src alt="" class=classes)
	else
		picture
			if srcset !== ''
				if lazy === true
					img(width=width height=height src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPjwvc3ZnPg==" data-src=src alt="" loading="lazy" srcset="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPjwvc3ZnPg==" data-srcset=srcset data-ssizes=sizes class="lazy " + classes)
				else
					img(width=width height=height src=src alt="" srcset=srcset sizes=sizes class=classes)
			else
				if lazy === true
					img(width=width height=height src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPjwvc3ZnPg==" data-src=src alt="" loading="lazy" class="lazy " + classes)
				else
					img(width=width height=height src=src alt="" class=classes)